Package: redapid
Version: <<VERSION>>
Section: electronics
Maintainer: Olaf Lüke <olaf@tinkerforge.com>
Architecture: <<ARCHITECTURE>>
Priority: optional
Installed-Size: <<INSTALLED_SIZE>>
Depends: libc6, cron, libacl1
Recommends: logrotate
Description: Tinkerforge RED Brick API Daemon
 The RED Brick API Daemon program is part of the Tinkerforge software 
 infrastructure. It implements the public API of the Tinkerforge RED Brick.
 Message routing between the RED Brick API Daemon and user programs is done
 by the Brick Daemon program. Therefore, the RED Brick API Daemon should always
 be run together with the Brick Daemon.
